* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

img {
  object-fit: cover;
}

.head_btn,
.command_btn {
  cursor: pointer;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 5px #aaa;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
}
.head_btn:hover,
.command_btn:hover {
  animation: homebtn 0.5s both;
}

.command_btn::after {
  content: "Commander";
  padding: 15px 25px;
  font-weight: 600;
}

.btn {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #dcdcdc;
  color: #000;
  border: none;
  padding-right: 15px;
  width: 95%;
}
.btn:hover {
  background-color: #f2eafb;
}
.btn__icon {
  margin: 20px;
}
.btn__icon:hover {
  color: #9356dc;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: 0;
  }
}
@keyframes homebtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px #000;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparation {}
@keyframes ellipsis {
  0% {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  100% {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 230px;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1.3;
    transform: translateX(-14px);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .return_page {
  margin-left: 15px;
  color: #383737;
  font-size: 1.5em;
}
header img {
  margin: 20px 60px;
  width: 50%;
}

.home {
  background-color: inherit;
}

.load_spinner {
  position: fixed;
  opacity: 0;
  width: 45%;
  height: 50%;
  top: 137px;
  right: 128px;
  bottom: 7px;
  border-radius: 50%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 2s linear;
  border-top: 5px solid #9356dc;
  border-bottom: 5px solid #ff79da;
}

.localisation {
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e5e5e5;
  border-top: 2px solid #bfbfbf;
}
.localisation__icon {
  padding-right: 15px;
}
.localisation__city {
  font-size: 16px;
}

.intro {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.intro__title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.section2 {
  margin: 0 0 30px 10px;
}
.section2 .choix {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
.section2 .choix__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section2 .choix__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 8px;
  height: 1.5em;
  color: #fff;
  position: absolute;
  left: 5px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.restaurant h2 {
  margin-left: 15px;
}
.restaurant__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);
  padding-left: 0;
  margin-left: 5px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.restaurant__card a {
  width: 98%;
  height: 225px;
  margin-left: 0;
  color: #000;
  border-radius: 15px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 5px 5px 10px #dcdcdc;
}
.restaurant__card a:hover {
  box-shadow: 0px 0px 10px 0px #337d6b;
}
.restaurant__card img {
  height: 65%;
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card h3 {
  margin: 5px 0 5px 5px;
}
.restaurant__card p {
  margin: 10px 0 0 5px;
}
.restaurant__card .new {
  position: absolute;
  right: 15px;
  margin-top: 15px;
  padding: 7px;
  border-radius: 5px;
  color: #337d6b;
  font-weight: 500;
  background-color: #99e2d0;
}
.restaurant__card .icon_heart {
  position: absolute;
  right: 25px;
  z-index: 0;
  height: 24px;
  width: 27px;
}
.restaurant__card i {
  font-size: 20px;
  -webkit-text-stroke: 2px #000;
  color: #fff;
}
.restaurant__card i:hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-position: 0 -100%;
  transition: 0.53s ease-in-out;
  transition-property: top;
}

body {
  background-color: #f2f2f2;
}

.bg__img {
  width: 100%;
}
.bg__img img {
  height: 200px;
  width: 100%;
}

.menu {
  padding: 0 15px;
  background-color: #f2f2f2;
  transform: translateY(-50px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__head {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.menu__head h1 {
  margin-bottom: 0;
  font-size: 1.5em;
}
.menu__head i {
  margin-top: 25px;
  font-size: 1.4em;
  -webkit-text-stroke: 2px #000;
  color: #f2f2f2;
}
.menu__head i:hover {
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
}
.menu__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: none;
  margin-bottom: 25px;
}
.menu__title {
  margin-bottom: 20px;
  width: 2em;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__card {
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 95%;
  padding: 0 10px;
  margin-bottom: 15px;
  color: #000;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 5px 5px 10px #dcdcdc;
}
.menu__card:hover p {
  max-width: 230px;
  animation: ellipsis 1s;
}
.menu__card:hover .price {
  padding-right: 52.5px;
  transition: 0.5s ease-out;
}
.menu__card:hover .validation {
  animation: slide-left 1.2s ease-out both;
}
.menu__card:hover i {
  animation: rotation 1s;
}
.menu__card h2 {
  font-size: 12.5px;
  margin-bottom: 7px;
}
.menu__card .align_price {
  display: flex;
  justify-content: space-between;
}
.menu__card .align_price p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  font-size: 12px;
  margin-top: 0;
}
.menu__card .align_price .price {
  font-size: 0.85em;
  font-weight: 700;
}
.menu__card .validation {
  opacity: 0;
  position: absolute;
  right: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 3.8rem;
  width: 15.5%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #99e2d0;
}
.menu__card .validation i {
  font-size: 2em;
  color: #fff;
}
.menu .commande {
  justify-content: center;
  align-items: center;
  display: flex;
}

footer {
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: #383737;
}
footer img {
  height: 20%;
  width: 45%;
  margin: 10px 0 0 15px;
  filter: invert(100%);
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li i {
  color: #fff;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li .footer_link1 {
  margin-left: 12px;
}
footer ul li .footer_link2 {
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
