* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

img {
  object-fit: cover;
}

.head_btn {
  cursor: pointer;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #aaa;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
}
.head_btn:hover {
  opacity: 0.8;
  box-shadow: 7px 7px 15px #575757;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #dcdcdc;
  color: #000;
  border: none;
  padding-right: 15px;
  width: 95%;
}
.btn:hover {
  background-color: #f2eafb;
}
.btn__icon {
  margin: 20px;
}
.btn__icon:hover {
  color: #9356dc;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
header .return_page {
  margin-left: 15px;
  color: #383737;
  font-size: 1.5em;
}
header img {
  margin: 20px 60px;
  width: 50%;
  height: 50%;
}

.localisation {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  border-top: 2px solid #bfbfbf;
}
.localisation__icon {
  padding-right: 15px;
}
.localisation__city {
  font-size: 16px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.intro__title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.section2 {
  margin: 0 0 30px 10px;
}
.section2 .choix {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
.section2 .choix__content {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .choix__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 8px;
  height: 1.5em;
  color: #fff;
  position: absolute;
  left: 5px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.restaurant h2 {
  margin-left: 15px;
}
.restaurant__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);
  padding-left: 0;
  margin-left: 5px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.restaurant__card a {
  width: 98%;
  height: 225px;
  margin-left: 0;
  color: #000;
  border-radius: 15px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 5px 5px 10px #dcdcdc;
}
.restaurant__card img {
  height: 65%;
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card h3 {
  margin: 5px 0 5px 5px;
}
.restaurant__card p {
  margin: 10px 0 0 5px;
}
.restaurant__card .new {
  position: absolute;
  right: 15px;
  margin-top: 15px;
  padding: 7px;
  border-radius: 5px;
  color: #337d6b;
  font-weight: 500;
  background-color: #99e2d0;
}
.restaurant__card .icon_heart {
  position: absolute;
  right: 20px;
}
.restaurant__card .icon_heart i {
  font-size: 20px;
}

.bg__img {
  width: 100%;
}
.bg__img img {
  height: 200px;
  width: 100%;
}

.menu {
  padding: 0 10px;
  background-color: #f2f2f2;
  transform: translateY(-50px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: none;
}
.menu__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.menu__head h1 {
  margin-bottom: 0;
}
.menu__head i {
  margin-top: 25px;
  font-size: 1.4em;
}
.menu__title {
  margin-bottom: 20px;
  width: 2em;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu__card a {
  width: 98%;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #000;
  border-radius: 15px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 5px 5px 10px #dcdcdc;
}
.menu__card a h2 {
  font-size: 16px;
  margin-bottom: 7px;
}
.menu__card a p {
  font-size: 14px;
  margin-top: 0;
}
.menu .commande {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #383737;
}
footer img {
  height: 20%;
  width: 45%;
  margin: 10px 0 0 15px;
  filter: invert(100%);
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li i {
  color: #fff;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li .footer_link1 {
  margin-left: 12px;
}
footer ul li .footer_link2 {
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
