* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

@media all and (min-width: 1440px) {
  .container {
    margin: auto;
    max-width: 1440px;
    padding: 0;
  }
}

.head_btn,
.command_btn {
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 10px 4px silver;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
}
.head_btn:hover,
.command_btn:hover {
  animation: homebtn 0.5s both;
}

.command_btn::after {
  content: "Commander";
  padding: 15px 25px;
  font-weight: 600;
}

@keyframes loadApparition {
  0% {
    visibility: visible;
    opacity: 1;
    background-color: #fff;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes load {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    z-index: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: 2;
    visibility: hidden;
  }
}
@keyframes homebtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px #000;
  }
}
@keyframes apparitionMenus {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  25% {
    opacity: 0.3;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.6;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .return_page {
  margin-left: 15px;
  color: #383737;
  font-size: 1.5em;
}
header img {
  margin: 20px 60px;
  width: 130px;
}
@media all and (min-width: 1024px) {
  header img {
    width: 180px;
  }
}

.home {
  background-color: inherit;
}

.load {
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: loadApparition 0.5s linear 1s both;
}
.load .load_spinner {
  width: 188px;
  height: 186px;
  border-radius: 50%;
  top: 137px;
  right: 90px;
  bottom: 7px;
  animation: load 2s linear;
  border-top: 5px solid #9356dc;
  border-left: 5px solid #99e2d0;
  border-right: 5px solid #99e2d0;
  border-bottom: 5px solid #ff79da;
}

.localisation {
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e5e5e5;
  border-top: 2px solid #bfbfbf;
}
.localisation__icon {
  padding-right: 7px;
}
.localisation__city {
  font-size: 14px;
  margin-right: 22px;
  font-weight: 600;
}

.intro {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.intro__title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 800;
}
.intro p {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 18px;
}

.choix {
  padding: 0 0 30px 10px;
  row-gap: 15px;
  width: 100%;
}
.choix h2 {
  padding-left: 5px;
  font-size: 20px;
}
.choix__block {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 10px;
}
@media all and (min-width: 1024px) {
  .choix__block {
    flex-direction: row;
  }
}
.choix__content {
  display: flex;
  flex-direction: row;
  width: 95%;
}
.choix__content:hover .link {
  background-color: #f2eafb;
}
.choix__content:hover .link__icon {
  color: #9356dc;
}
.choix .link {
  flex-direction: row;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 10px #dcdcdc;
  color: #000;
  border: none;
  width: 100%;
  cursor: pointer;
}
@media all and (min-width: 1024px) {
  .choix .link {
    width: 90%;
  }
}
.choix .link__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 8px;
  height: 1.5em;
  color: #fff;
  position: absolute;
  left: -10px;
}
.choix .link__icon {
  margin: 20px 20px 20px 35px;
  color: grey;
}
.choix .link h3 {
  font-size: 16px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.restaurant h2 {
  margin-left: 15px;
  font-size: 20px;
}
.restaurant__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);
  padding-left: 0;
  margin-left: 5px;
}
@media screen and (min-width: 700px) {
  .restaurant__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
  }
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.restaurant__card a {
  width: 98%;
  height: 225px;
  margin-left: 0;
  color: #000;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #dcdcdc;
}
.restaurant__card a:hover {
  box-shadow: 0px 0px 10px 0px #337d6b;
}
.restaurant__card img {
  height: 65%;
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card h3 {
  margin: 5px 0 5px 5px;
}
.restaurant__card p {
  margin: 10px 0 0 5px;
}
.restaurant__card .new {
  position: absolute;
  right: 15px;
  top: 15px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 7px;
  border-radius: 5px;
  color: #337d6b;
  font-weight: 500;
  background-color: #99e2d0;
}
.restaurant__card .icon_heart {
  position: absolute;
  right: 25px;
  z-index: 0;
  height: 24px;
  width: 27px;
}
.restaurant__card i {
  height: 0;
  font-size: 20px;
  -webkit-text-stroke: 1px #000;
  color: #fff;
}
.restaurant__card i:hover {
  height: 100%;
  transition: all 1s linear 0s;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
}

body {
  background-color: #f2f2f2;
}

.bg__img {
  width: 100%;
}
.bg__img img {
  height: 200px;
  width: 100%;
}

.menu {
  padding: 0 10px;
  background-color: #f2f2f2;
  transform: translateY(-50px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__head {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.menu__head h1 {
  margin-bottom: 0;
  font-size: 1.5em;
}
.menu__head i {
  height: 0;
  margin-top: 25px;
  font-size: 1.4em;
  -webkit-text-stroke: 1px #000;
  color: #f2f2f2;
}
.menu__head i:hover {
  height: 100%;
  transition: all 1s linear 0s;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
}
.menu__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: none;
  margin-bottom: 25px;
}
@media all and (min-width: 1024px) {
  .menu__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
  }
}
.menu__title {
  margin-bottom: 20px;
  width: 2.5em;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__card {
  flex-direction: row;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 15px;
  color: #000;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #dcdcdc;
  animation: apparitionMenus 0.7s linear;
}
.menu__card:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.menu__card:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.menu__card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.menu__card:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.menu__card:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.menu__card:nth-child(6) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.menu__card:nth-child(7) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.menu__card:nth-child(8) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.menu__card:nth-child(9) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.menu__card:hover .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 230px;
}
.menu__card:hover .price {
  padding-bottom: 12px;
}
.menu__card:hover .price, .menu__card:hover .validation {
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: visible;
  animation: slide-left 1.2s linear both;
  animation-fill-mode: forwards;
}
.menu__card:hover i {
  animation: rotation 1s;
}
.menu__card .info {
  flex-direction: column;
}
.menu__card .info h2 {
  font-size: 15.5px;
  margin-bottom: 7px;
}
.menu__card .info p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14.5px;
  margin-top: 0;
}
.menu__card .price {
  font-size: 0.85em;
  font-weight: 700;
  padding-top: 39px;
  padding-right: 10px;
}
.menu__card .validation {
  display: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 4.5rem;
  width: 19%;
  background-color: #99e2d0;
}
.menu__card .validation i {
  font-size: 1.5em;
  color: #fff;
}
.menu .commande {
  justify-content: center;
  align-items: center;
  display: flex;
}

footer {
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: #383737;
}
@media all and (min-width: 1440px) {
  footer {
    align-items: center;
    justify-content: space-around;
  }
  footer .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1400px;
  }
}
footer img {
  height: 20%;
  width: 120px;
  margin: 10px 0 0 15px;
  filter: invert(100%);
}
@media all and (min-width: 1024px) {
  footer img {
    width: 200px;
  }
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
@media all and (min-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 30px;
  }
  footer ul li {
    font-size: 20px;
  }
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #99e2d0;
}
footer ul i {
  font-size: 75%;
  padding-right: 10px;
}
footer ul #footer_icon {
  padding-right: 4px;
}
@media all and (min-width: 1024px) {
  footer ul .contact {
    margin-right: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
