// Buttuns Principaux
.btn{
  @include flex;
  @include flexbox;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #DCDCDC;
  color: $color-text;
  border: none;
  padding-right: 15px;
  width: 95%;
  &:hover{
    background-color: #F2EAFB;
  }

  &__icon{
    margin: 20px;
    &:hover{
      color: $color-primary;
    }
  }
}
