// Buttons
// Section Intro home + Main Menu
.head_btn,
.command_btn {
  cursor: pointer;
  font-weight: 300;
  color: $color-deco;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 10px 4px silver;
  background: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );

  &:hover {
    animation: homebtn 0.5s both;
  }
}

// Button Menus
.command_btn::after {
  content: "Commander";
  padding: 15px 25px;
  font-weight: 600;
}

// Buttons Principaux
.btn {
  @include flexbox($direction: row);
  position: relative;
  display: $display;
  align-items: center;
  border-radius: 20px;
  background-color: lighten($color-bg, $amount: 2);
  box-shadow: 5px 5px 10px #dcdcdc;
  color: $color-text;
  border: none;
  padding-right: 15px;
  width: 100%;
  cursor: pointer;

  @media all and (min-width: 1024px) {
    width: 90%;
  }

  &:hover {
    background-color: #f2eafb;
  }

  &__number {
    display: $display;
    @include flex;
    background-color: $color-primary;
    border-radius: 50%;
    padding: 8px;
    height: 1.8em;
    color: $color-deco;
    position: absolute;
    left: -10px;
  }

  &__icon {
    margin: 20px;
    &:hover {
      color: $color-primary;
    }
  }
}
