* {
  box-sizing: border-box;
}

// Fonts
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

// Images
img{
  object-fit: cover;
}

// Link
a{
  text-decoration: none;
}

// Media Queries
.container{
  @media all and (min-width: 1440px) {
    margin: auto;
    max-width: 1440px;
    padding: 0;
  }
}