// Footer
footer {

  @include flexbox;
  display: $display;
  width: 100%;
  background-color: $color-footer;

  @media all and (min-width: 1440px) {
    align-items: center;
    
    .footer_content {
      display: $display;
      @include flexbox;  
      justify-content: space-between;
      min-width: 1400px;
    }
  }

  img {
    height: 20%;
    width: 120px;
    margin: 10px 0 0 15px;
    filter: invert(100%);

    @media all and (min-width: 1024px) {
      width: 200px;
    }
  }

  ul {
    list-style: none;
    padding-left: 20px;

    @media all and (min-width: 1024px) {
      display: flex;
      @include flexbox($direction: row);
      justify-content: space-between;
      font-size: 25px;
      margin-top: 30px;

      li{
        font-size: 20px;
      }
    }

    li {
      margin-bottom: 10px;   

      a {
        color: $color-deco;
        font-weight: 300;

        &:hover {
          color: $color-tertiary;
        }
      }

      .bold{
        font-weight: 500;
      }
    }

    i {
      font-size: 75%;
      padding-right: 10px;
    }

    #footer_icon {
      padding-right: 4px;
    }

    .contact {
      @media all and (min-width: 1024px) {
        margin-right: 25px;
      }
    }
  }
}
