// Header
header {
  background-color: $color-deco;
  display: $display;
  @include flex;
  @include flexbox($direction: row);

  .return_page {
    margin-left: 15px;
    color: $color-footer;
    font-size: 1.5em;
  }

  img {
    margin: 20px 60px;
    width: 50%;
    height: 50%;
  }
}
