// Background Accueil
.home {
  @include background;
}

// Load spinner
.load {
  position: fixed;
  visibility: hidden;
  display: flex;
  @include flex;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: loadApparition 0.5s linear 2s both;

  .load_spinner {
    width: 188px;
    height: 186px;
    border-radius: 50%;
    top: 137px;
    right: 90px;
    bottom: 7px;
    animation: load 0.5s linear 2s both;
    border-top: 5px solid $color-primary;
    border-left: 5px solid $color-tertiary;
    border-right: 5px solid $color-tertiary;
    border-bottom: 5px solid $color-secondary;
  }
}

// Section - Intro
.localisation {
  color: $color-text;
  @include flex;
  display: $display;
  background-color: darken($color-bg, $amount: 5);
  border-top: 2px solid darken($color-bg, $amount: 20);
  &__icon {
    padding-right: 7px;
  }
  &__city {
    font-size: 14px;
    margin-right: 22px;
    font-weight: 600;
  }
}

.intro {
  @include flex;
  @include flexbox;
  display: $display;
  text-align: center;
  padding-bottom: 35px;
  background-color: $color-bg;

  &__title {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 800;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 18px;
  }
}

// Section Fonctionnement
.choix {
  padding: 0 0 30px 10px;
  row-gap: 15px;
  width: 100%;

  h2 {
    padding-left: 5px;
    font-size: 20px;
  }

  &__block {
    display: $display;
    @include flexbox;
    row-gap: 30px;
    padding-left: 10px;

    @media all and (min-width: 1024px) {
      @include flexbox($direction: row);
    }
  }

  &__content {
    display: $display;
    @include flexbox($direction: row);
    width: 95%;

    &:hover {

      .link{
        background-color: #f2eafb;

        &__icon{
          color: $color-primary;
        }
      }
    }
  }

  // Link Principaux
  .link {
    @include flexbox($direction: row);
    position: relative;
    display: $display;
    align-items: center;
    border-radius: 20px;
    background-color: lighten($color-bg, $amount: 2);
    box-shadow: 5px 5px 10px #dcdcdc;
    color: $color-text;
    border: none;
    width: 100%;
    cursor: pointer;

    @media all and (min-width: 1024px) {
      width: 90%;
    }

    &__number {
      display: $display;
      @include flex;
      background-color: $color-primary;
      border-radius: 50%;
      padding: 8px;
      height: 1.5em;
      color: $color-deco;
      position: absolute;
      left: -10px;
    }

    &__icon {
      margin: 20px 20px 20px 35px;
      color: grey;  
    }

    h3{
      font-size: 16px;
    }
  }
}

//Section - Restaurants
.restaurant {
  display: $display;
  @include flexbox;
  width: 100%;
  padding-bottom: 35px;
  background-color: $color-bg;

  h2 {
    margin-left: 15px;
    font-size: 20px;
  }

  &__content {
    @include grid;
    padding-left: 0;
    margin-left: 5px;

    @include tablette;
  }

  // 4 Card Menus
  &__card {
    display: $display;
    @include flexbox;
    width: 100%;
    justify-content: space-between;
    position: relative;

    a {
      width: 98%;
      height: 225px;
      margin-left: 0;
      color: $color-text;
      border-radius: 15px;
      background-color: $color-deco;
      box-shadow: 5px 5px 10px #dcdcdc;

      &:hover {
        box-shadow: 0px 0px 10px 0px $color-new;
      }
    }

    // Contenus des cards
    img {
      height: 65%;
      width: 100%;
      margin-top: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    h3 {
      margin: 5px 0 5px 5px;
    }

    p {
      margin: 10px 0 0 5px;
    }

    .new {
      position: absolute;
      right: 15px;
      top: 15px;
      margin-top: 15px;
      margin-right: 10px;
      padding: 7px;
      border-radius: 5px;
      color: $color-new;
      font-weight: 500;
      background-color: $color-tertiary;
    }

    .icon_heart {
      position: absolute;
      right: 25px;
      z-index: 0;
      height: 24px;
      width: 27px;
    }

    i {
      height: 0;
      font-size: 20px;
      @include heart;
      color: $color-deco;

      &:hover {
        height: 100%;
        transition: all 1s linear 0s;
        @include heart-effect;
      }
    }
  }
}
