// Background Accueil
.home {
  @include background;
}

// Load spinner
.load_spinner {
  position: fixed;
  opacity: 0;
  width: 135px;
  height: 158px;
  top: 137px;
  right: 90px;
  bottom: 7px;
  border-radius: 50%;
  z-index: 0;
  display: $display;
  @include flex;
  animation: load 2s linear;
  border-top: 5px solid $color-primary;
  border-bottom: 5px solid $color-secondary;
}

// Section - Intro
.localisation {
  color: $color-text;
  @include flex;
  display: $display;
  background-color: darken($color-bg, $amount: 5);
  border-top: 2px solid darken($color-bg, $amount: 20);
  &__icon {
    padding-right: 7px;
  }
  &__city {
    font-size: 16px;
    margin-right: 22px
  }
}

.intro {
  @include flex;
  @include flexbox;
  display: $display;
  text-align: center;
  padding-bottom: 35px;
  background-color: $color-bg;

  &__title {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
  }
}

// Section Fonctionnement
.section2 {
  margin: 0 0 30px 10px;
  .choix {
    display: $display;
    @include flexbox;
    row-gap: 15px;
    width: 100%;

    &__content {
      display: $display;
      @include flexbox($direction: row);
      @include flex;
    }

    &__number {
      display: $display;
      @include flex;
      background-color: $color-primary;
      border-radius: 50%;
      padding: 8px;
      height: 1.5em;
      color: $color-deco;
      position: absolute;
      left: 5px;
    }
  }
}

//Section - Restaurants
.restaurant {
  display: $display;
  @include flexbox;
  width: 100%;
  padding-bottom: 35px;
  background-color: $color-bg;

  h2 {
    margin-left: 15px;
  }

  &__content {
    @include grid;
    padding-left: 0;
    margin-left: 5px;
  }

  // 4 Card Menus
  &__card {
    display: $display;
    @include flexbox;
    width: 100%;
    justify-content: space-between;

    a {
      width: 98%;
      height: 225px;
      margin-left: 0;
      color: $color-text;
      border-radius: 15px;
      text-decoration: none;
      background-color: $color-deco;
      box-shadow: 5px 5px 10px #dcdcdc;

      &:hover {
        box-shadow: 0px 0px 10px 0px $color-new;
      }
    }

    // Contenus des cards
    img {
      height: 65%;
      width: 100%;
      margin-top: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    h3 {
      margin: 5px 0 5px 5px;
    }

    p {
      margin: 10px 0 0 5px;
    }

    .new {
      position: absolute;
      right: 15px;
      margin-top: 15px;
      padding: 7px;
      border-radius: 5px;
      color: $color-new;
      font-weight: 500;
      background-color: $color-tertiary;
    }

    .icon_heart {
      position: absolute;
      right: 25px;
      z-index: 0;
      height: 24px;
      width: 27px;
    }

    i {
      height: 0;
      font-size: 20px;
      @include heart;
      color: $color-deco;

      &:hover {
        height: 100%;
        transition: all 1s linear 0s;
        @include heart-effect;
      }
    }
  }
}
