// Background Menus
body {
  @include background($fond: menus);
}

//Fond Images
.bg__img {
  width: 100%;

  img {
    height: 200px;
    width: 100%;
  }
}

// Main - Menus
.menu {
  padding: 0 10px;
  background-color: $color-bg;
  transform: translateY(-50px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  // Title + icon
  &__head {
    @include flexbox($direction: row);
    @include align;
    display: $display;

    h1 {
      margin-bottom: 0;
      font-size: 1.5em;
    }

    i {
      height: 0;
      margin-top: 25px;
      font-size: 1.4em;
      @include heart;
      color: $color-bg;

      &:hover {
        height: 100%;
        transition: all 1s linear 0s;
        @include heart-effect;
      }
    }
  }

  // Cards Entrée | Plat | Dessert
  &__content {
    @include grid($template: menu);
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 20px;
    width: 2em;
    padding-bottom: 5px;
    border-bottom: 3px solid $color-tertiary;
  }

  &__card {
    @include flexbox ($direction: row);
    justify-content: space-between;
    @include overtext;
    display: $display;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 15px;
    color: $color-text;
    border-radius: 15px;
    overflow: hidden;
    background-color: $color-deco;
    box-shadow: 5px 5px 10px #dcdcdc;
    @include apparition;
    animation: apparition 0.7s linear;
  

    // Animation Card hover
    &:hover {

      .info {
        animation: ellipsis 1s;
      }

      .price{
        padding-bottom: 12px;
        }
      
      .price, .validation {
        @include flex;
        display: $display;
        visibility: visible;
        animation: slide-left 1.2s ease-in-out both;
        animation-fill-mode: forwards;
      }

      i {
        animation: rotation 1s;
      }
    }

    // Contenus des cards Entrée | Plat | Dessert
    .info{
      @include flexbox;

      h2 {
        font-size: 12.5px;
        margin-bottom: 7px;
      }

       p {
        @include overtext;
        font-size: 12px;
        margin-top: 0;
      }
    }

    .price {
      font-size: 0.85em;
      font-weight: 700;
      padding-top: 32.5px;
      padding-right: 10px;
    }

    // Validation
    .validation {
      display: none;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      height: 3.8rem;
      width: 19%;
      background-color: $color-tertiary;

      i {
        font-size: 2em;
        color: $color-deco;
      }
    }
  }

  // Button Command
  .commande {
    @include flex;
    display: $display;
  }
}
